
.lecture .error-message {
    display: none;
    color: var(--red);
  }
  .lecture .lecture-quiz-question.answer-error .error-message {
    display: block;
  }
  .lecture .lecture-quiz-answers .lecture-quiz-answer {
    border: 1px solid var(--light_grey);
    padding: 1em;
  }
  .lecture .lecture-quiz-answers .lecture-quiz-answer p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
  }
  .lecture .lecture-quiz-answers .lecture-quiz-answer.answer-error {
    border-color: var(--red);
  }
  .lecture .lecture-quiz-answers .lecture-quiz-answer.answer-correct {
    border-color: var(--green);
  }
  .lecture .lecture-quiz-answers .lecture-quiz-answer:hover {
    background-color: var(--light_grey);
  }
  .lecture .lecture-quiz-answers .lecture-quiz-answer + .lecture-quiz-answer {
    margin-top: 1em;
  }