@import url("https://fonts.googleapis.com/css?family=Lato:400,700|PT+Serif:400,700&display=swap");
* {
  box-sizing: border-box;
}

.serif {
  font-family: "PT Serif", serif;
}

body {
  font-family: "PT Serif", serif;
  font-size: 16px;
  background-color: #EFEFEF;
  color: #010101;
}

.gradient-background {
  min-height: 100vh;
  background: linear-gradient(to right top, #401598 0%, #AE87FF 100%);
}

h1, h2, h3, .sans-serif {
  font-family: "Lato", sans-serif;
  line-height: 1.2em;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  line-height: 1.2em;
}

h1, .h1 {
  font-size: 3.3em;
}

h2, .h2 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

h3, .h3 {
  font-size: 1.1em;
  margin-bottom: 0.25em;
}

h4, .h4 {
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

*[ng-reflect-router-link],
*[routerLink] {
  cursor: pointer;
}

p {
  margin: 1em 0;
  line-height: 1.6em;
}

.text--small {
  font-size: 0.8em;
}

.text--white {
  color: white;
}

.text--capitalize {
  text-transform: capitalize;
}

img {
  width: 100%;
  max-width: 100%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #E6E6E6;
  z-index: 100;
}
.loading__block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #401598;
  animation: loading-animation 1.5s linear infinite;
}

@keyframes loading-animation {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
.margin-top {
  margin-top: 25px;
}

.margin-right {
  margin-right: 25px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.margin-left {
  margin-left: 25px;
}

.margin-top--large {
  margin-top: 40px;
}

.margin-right--large {
  margin-right: 40px;
}

.margin-bottom--large {
  margin-bottom: 40px;
}

.margin-left--large {
  margin-left: 40px;
}

.margin-top--small {
  margin-top: 15px;
}

.margin-right--small {
  margin-right: 15px;
}

.margin-bottom--small {
  margin-bottom: 15px;
}

.margin-left--small {
  margin-left: 15px;
}

.fixed-section label {
  color: white;
}

.form .flex > .form-group:first-child {
  padding-right: 1em;
}
.form .flex > .form-group:last-child {
  padding-left: 1em;
}
.form label.required::after {
  content: " *";
  color: #DC3545;
}
.form input[type=text],
.form input[type=number],
.form input[type=email],
.form input[type=password],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0 1.5em 0;
  background-color: white;
  border: 0;
  color: #010101;
}
.form input[type=text]::placeholder,
.form input[type=number]::placeholder,
.form input[type=email]::placeholder,
.form input[type=password]::placeholder,
.form select::placeholder,
.form textarea::placeholder {
  color: #A5A5A5;
  font-family: "PT Serif", serif;
}
.form input[type=checkbox] {
  margin-right: 0.35em;
}
.form input[type=checkbox] ~ label {
  position: relative;
  bottom: 1px;
}
.form textarea {
  min-height: 75px;
  max-height: 500px;
}
.form .input-group {
  position: relative;
}
.form .input-group .input-help {
  position: absolute;
  bottom: -11px;
  left: -11px;
  box-shadow: 4px 4px 10px #00000059;
}
.form .input-group .input-help .input-help-status {
  height: 22px;
  width: 22px;
  background-color: #DC3545;
  z-index: 20;
}
.form .input-group .input-help .input-help-message {
  display: flex;
  background-color: white;
  padding: 0 0.75em;
  height: 22px;
  color: #DC3545;
  min-width: 200px;
  white-space: nowrap;
  z-index: 30;
  font-size: 0.8em;
  display: flex;
}
.form .input-group .input-help .input-help-message span {
  line-height: 22px;
}
.form .input-group:not(.is-invalid) .input-help .input-help-status {
  background-color: #28A745;
}
.form .input-group:not(.is-invalid) .input-help .input-help-message {
  display: none;
}
.form .form-alternative-link {
  margin-top: 0.25em;
  color: white;
}
.form .form-alternative-link a {
  cursor: pointer;
  color: #401598;
  font-style: italic;
  font-family: "Lato", sans-serif;
  line-height: 1.2em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  line-height: 1.4em;
  position: relative;
  background-image: url("/assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 1em top 50%;
  background-size: 1em auto;
  padding-right: 3em !important;
}

select::-ms-expand {
  display: none;
}

input[type=search] {
  position: relative;
  background-image: url("/assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: left 1em top 50%;
  background-size: 1em auto;
  padding-left: 2.5em !important;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(0, 1280px) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1280px) minmax(0, 1fr);
}
.container > * {
  min-height: calc(100vh - 50px);
  -ms-grid-column: 2;
  grid-column: 2;
  background-color: white;
  padding: 2em;
}

.flex {
  display: flex;
}

.flex:not(.flex--not-even) > * {
  flex: 1;
}

.flex--column {
  flex-direction: column;
}

.flex--between {
  justify-content: space-between;
}

.flex--end {
  justify-content: flex-end;
}

.flex--align-center {
  align-items: center;
}

.flex--align-start {
  align-items: flex-start;
}

.flex--align-end {
  align-items: flex-end;
}

.flex--center {
  justify-content: center;
}

.flex--align-bottom {
  align-items: baseline;
}

.flex--wrap {
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  padding: 0.55em 1.75em;
  min-width: 200px;
  background-color: #401598;
  color: white;
  cursor: pointer;
  border: 0;
}
.button--small {
  padding: 0.4em 1.25em;
  min-width: 150px;
}
.button--large {
  padding: 0.95em 2.5em;
  min-width: 250px;
}
.button--update {
  background-color: #28A745;
}
.button--delete {
  background-color: #010101;
}
.button--create {
  background-color: #DC3545;
}
.button--secondary {
  background-color: #A5A5A5;
}

.button:disabled {
  filter: brightness(2);
  cursor: default;
}

.fixed-section {
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-triangles {
  position: fixed;
  width: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 95vh;
}

.background-triangles-bottom {
  position: fixed;
  width: auto;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%) rotateZ(100deg);
  height: 65vw;
}

hr.hr {
  display: block;
  width: 75px;
  height: 8px;
  background-color: white;
  margin: 1.25em 0;
  border: 0;
  text-align: left;
}

hr.hr--small {
  display: block;
  width: 60px;
  height: 10px;
  background-color: white;
  margin: 1.25em 0;
  border: 0;
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.link {
  color: #71A5FF;
  cursor: pointer;
}

.link:hover {
  filter: brightness(0.75);
  text-decoration: underline;
}

.section {
  background-color: #EEF3FF;
  padding: 1em;
}
.section--large {
  padding: 2em;
}

img[src$=".svg"] {
  user-select: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.image-heading {
  display: flex;
  align-items: center;
}
.image-heading img {
  height: fit-content;
  width: auto;
  padding: 0.15em 0;
  margin-right: 0.2em;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #E6E6E6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #AE87FF;
}

.scrollbar--large::-webkit-scrollbar {
  width: 17px;
}
.scrollbar--large::-webkit-scrollbar-track {
  background-color: #E6E6E6;
}
.scrollbar--large::-webkit-scrollbar-thumb {
  background-color: #AE87FF;
}

.lecture h1 {
  font-size: 2.1em;
}
.lecture a {
  color: #71A5FF;
  cursor: pointer;
}
.lecture a:hover {
  filter: brightness(0.75);
  text-decoration: underline;
}
.lecture .lecture-content ul, .lecture .lecture-content ol {
  margin: 1.5em 0;
  padding-left: 2.25em;
}
.lecture .lecture-content ul li, .lecture .lecture-content ol li {
  list-style-type: decimal;
}
.lecture .lecture-content ul li + li, .lecture .lecture-content ol li + li {
  margin-top: 0.75em;
}
.lecture .lecture-content .flex > *:first-child {
  padding-right: 1.5em;
}
.lecture .lecture-content .flex > *:last-child {
  padding-left: 1.5em;
}
.lecture .lecture-content .image-fit-content {
  width: fit-content;
}
.lecture .lecture-content code {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  background-color: #E6E6E6;
  padding: 0 0.35em;
  border-radius: 3px;
  color: #DC3545;
}
.lecture .lecture-content code.code-block {
  display: block;
  font-size: 1em;
  font-weight: normal;
  background-color: #E6E6E6;
  padding: 1em;
  margin: 1em 0;
  border-radius: 3px;
  color: #DC3545;
  line-height: 1.5em;
}
.lecture .lecture-content table {
  width: 100%;
  background-color: white;
}
.lecture .lecture-content table thead {
  font-weight: bold;
  background-color: #EEF3FF;
}
.lecture .lecture-content table th, .lecture .lecture-content table td {
  border-bottom: 1px solid #E6E6E6;
  padding: 0.75em;
}

@media (max-width: 1024px) {
  .background-triangles-bottom {
    bottom: -22%;
    height: 90vw;
  }
}
@media (max-width: 768px) {
  .container > * {
    padding: 1em;
  }

  p {
    margin: 0.75em 0;
  }

  .margin-top {
    margin-top: 15px;
  }

  .margin-right {
    margin-right: 15px;
  }

  .margin-bottom {
    margin-bottom: 15px;
  }

  .margin-left {
    margin-left: 15px;
  }

  .margin-top--large {
    margin-top: 30px;
  }

  .margin-right--large {
    margin-right: 30px;
  }

  .margin-bottom--large {
    margin-bottom: 30px;
  }

  .margin-left--large {
    margin-left: 30px;
  }

  .margin-top--small {
    margin-top: 8px;
  }

  .margin-right--small {
    margin-right: 8px;
  }

  .margin-bottom--small {
    margin-bottom: 8px;
  }

  .margin-left--small {
    margin-left: 8px;
  }

  h1, h2, h3, .sans-serif {
    font-family: "Lato", sans-serif;
    line-height: 1.2em;
  }

  h1, .h1, h2, .h2, h3, .h3 {
    font-weight: bold;
    font-family: "Lato", sans-serif;
    line-height: 1.2em;
  }

  h1, .h1 {
    font-size: 2.5em;
  }

  h2, .h2 {
    font-size: 1.25em;
    margin-bottom: 0.2em;
  }

  h3, .h3 {
    font-size: 1.1em;
    margin-bottom: 0.2em;
  }

  h4, .h4 {
    font-size: 1em;
  }

  .form .section .flex:not(.flex-sm):not(.input-help) {
    flex-direction: column;
  }
  .form .section .flex > .form-group:first-child {
    padding-right: 0;
  }
  .form .section .flex > .form-group:last-child {
    padding-left: 0;
  }
  .form input[type=text],
.form input[type=number],
.form input[type=email],
.form input[type=password],
.form select,
.form textarea {
    padding: 0.75em 1em;
    margin: 0.4em 0 1em 0;
  }
  .form .input-group .input-help {
    bottom: -8px !important;
    left: -8px !important;
  }
  .form .input-help-status {
    height: 16px !important;
    width: 16px !important;
  }
  .form .input-help-message {
    height: 16px !important;
    min-width: 120px !important;
  }
  .form .input-help-message span {
    line-height: 16px !important;
    font-size: 0.8em !important;
  }

  .section {
    padding: 0.75em;
  }
  .section--large {
    padding: 1.25em;
  }

  .button {
    padding: 0.5em 1.5em;
    min-width: 150px;
  }
  .button--small {
    padding: 0.3em 1.15em;
    min-width: 100px;
  }
  .button--large {
    padding: 0.75em 2.25em;
    min-width: 200px;
  }
}
@media (max-width: 500px) {
  .slug {
    display: none;
  }

  .fixed-section {
    width: 90%;
  }

  .button {
    min-width: auto;
  }
  .button--small {
    padding: 0.3em 1em;
    min-width: auto;
  }
  .button--large {
    padding: 0.75em 2em;
    min-width: auto;
  }
}