$grey: #A5A5A5;
$light_grey: #E6E6E6;
$lighter_grey: #EEF3FF;
$black: #010101;
$pink: #E3AAFF;
$blue: #71A5FF;
$light_purple: #AE87FF;
$dark_purple: #401598;
$red: #DC3545;
$green: #28A745;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|PT+Serif:400,700&display=swap');

* {
    box-sizing: border-box;
}

.serif {
    font-family: 'PT Serif', serif;
}

body {
    @extend .serif;
    font-size: 16px;
    background-color: #EFEFEF;
    color: #010101;
}

.gradient-background {
    min-height: 100vh;
    background: linear-gradient(to right top, $dark_purple 0%, $light_purple 100%);
}

h1, h2, h3, .sans-serif {
    font-family: 'Lato', sans-serif;
    line-height: 1.2em;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-weight: bold;
    @extend .sans-serif;
}

h1, .h1 {
    font-size: 3.3em;
}

h2, .h2 {
    font-size: 1.5em;
    margin-bottom: .25em;
}

h3, .h3 {
    font-size: 1.1em;
    margin-bottom: .25em;
}

h4, .h4 {
    font-size: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

*[routerLink] {
    cursor: pointer;
}

p {
    margin: 1em 0;
    line-height: 1.6em;
}

.text--small {
    font-size: .8em;
}

.text--white {
    color: white;
}

.text--capitalize {
    text-transform: capitalize;
}

img {
    width: 100%;
    max-width: 100%;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: $light_grey;
    z-index: 100;

    &__block {
        position: absolute; 
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;
        background-color: $dark_purple;
        animation: loading-animation 1.5s linear infinite;
    }
}

@keyframes loading-animation {
    from {
        left: 0;
    } to {
        left: 100%;
    }
}

.margin-top {
    margin-top: 25px;
}

.margin-right {
    margin-right: 25px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.margin-left {
    margin-left: 25px;
}

.margin-top--large {
    margin-top: 40px;
}

.margin-right--large {
    margin-right: 40px;
}

.margin-bottom--large {
    margin-bottom: 40px;
}

.margin-left--large {
    margin-left: 40px;
}

.margin-top--small {
    margin-top: 15px;
}

.margin-right--small {
    margin-right: 15px;
}

.margin-bottom--small {
    margin-bottom: 15px;
}

.margin-left--small {
    margin-left: 15px;
}

.fixed-section {
    label {
        color: white;
    }
}

.form {
    .flex > .form-group:first-child {
        padding-right: 1em;
    }
    .flex > .form-group:last-child {
        padding-left: 1em;
    }
    
    label.required::after {
        content: ' *';
        color: $red;
    }
    
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 1em;
        margin: .5em 0 1.5em 0;
        background-color: white;
        border: 0;
        color: #010101;
    }

    input[type=text]::placeholder,
    input[type=number]::placeholder,
    input[type=email]::placeholder,
    input[type=password]::placeholder,
    select::placeholder,
    textarea::placeholder {
        color: $grey;
        @extend .serif;
    }

    input[type=checkbox] {
        margin-right: .35em;
    }

    input[type=checkbox] ~ label {
        position: relative;
        bottom: 1px;
    }

    textarea {
        min-height: 75px;
        max-height: 500px;
    }

    .input-group {
        position: relative;

        .input-help {
            position: absolute;
            bottom: -11px;
            left: -11px;
            box-shadow: 4px 4px 10px #00000059;

            .input-help-status {
                height: 22px;
                width: 22px;
                background-color: $red;
                z-index: 20;
            }

            .input-help-message {
                display: flex;
                background-color: white;
                padding: 0 .75em;
                height: 22px;
                color: $red;
                min-width: 200px;
                white-space: nowrap;
                z-index: 30;
                @extend .text--small;
                @extend .flex;
                @extend .flex--align-center;
            }
        }
    }

    .input-group:not(.is-invalid) {
        .input-help {
            .input-help-status {
                background-color: $green;
            }

            .input-help-message {
                display: none;
            }
        }
    }

    .form-alternative-link {
        margin-top: .25em;
        color: white;

        a {
            cursor: pointer;
            color: $dark_purple;
            font-style: italic;
            @extend .sans-serif;
        }
    }
}

select {
    -webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
    line-height: 1.4em;
    position: relative;
    background-image: url('/assets/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 1em top 50%;
    background-size: 1em auto;
    padding-right: 3em !important;
}

select::-ms-expand {
    display: none;
}

input[type=search] {
    position: relative;
    background-image: url('/assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: left 1em top 50%;
    background-size: 1em auto;
    padding-left: 2.5em !important;
}

.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1280px) minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1280px) minmax(0, 1fr);
    
    & > * {
        min-height: calc(100vh - 50px);
        -ms-grid-column: 2;
        grid-column: 2;
        background-color: white;
        padding: 2em; 
    }
}

.flex {
    display: flex;
}

.flex:not(.flex--not-even) > * {
    flex: 1;
}

.flex--column {
    flex-direction: column;
}

.flex--between {
    justify-content: space-between;
}

.flex--end {
    justify-content: flex-end;
}


.flex--align-center {
    align-items: center;
}

.flex--align-start {
    align-items: flex-start;
}

.flex--align-end {
    align-items: flex-end;
}

.flex--center {
    justify-content: center;
}

.flex--align-bottom {
    align-items: baseline;;
}

.button {
    display: inline-block;
    padding: .55em 1.75em;
    min-width: 200px;
    background-color: $dark_purple;
    color: white;
    cursor: pointer;
    border: 0;

    &--small {
        padding: .4em 1.25em;
        min-width: 150px;
    }

    &--large {
        padding: .95em 2.5em;
        min-width: 250px;
    }

    &--update {
        background-color: $green;
    }

    &--delete {
        background-color: $black;
    }

    &--create {
        background-color: $red;
    }
}

.button:disabled {
    filter: brightness(2);
    cursor: default;
}

.fixed-section {
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.background-triangles {
    position: fixed;
    width: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 95vh;

}

.background-triangles-bottom {
    position: fixed;
    width: auto;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%) rotateZ(100deg);
    height: 65vw;
}


hr.hr {
    display: block;
    width: 75px;
    height: 8px;
    background-color: white;
    margin: 1.25em 0;
    border: 0;
    text-align: left; // EDGE
}

hr.hr--small {
    display: block;
    width: 60px;
    height: 10px;
    background-color: white;
    margin: 1.25em 0;
    border: 0;
    text-align: left; // EDGE
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.link {
    color: $blue;
    cursor: pointer;
}

.link:hover {
    filter: brightness(.75);
}

.section {
    background-color: $lighter_grey;
    padding: 1em;

    &--large {
        padding: 2em;
    }
}

img[src$=".svg"] {
    user-select: none;
}

.disabled {
    opacity: .5;
    pointer-events: none;
    user-select: none;
}

.image-heading {
    @extend .flex;
    @extend .flex--align-center;
    @extend .flex--not-even;

    img {
        height: fit-content;
        width: auto;
        padding: .15em 0;
        margin-right: .2em;
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: $light_grey;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $light_purple; 
    }
}

.scrollbar--large {
    @extend .scrollbar;

    &::-webkit-scrollbar {
        width: 17px;
    }
}
