$lighter_green: rgba(222, 244, 198, 1);
$light_green: rgba(115, 226, 167, 1);
$green: rgba(177, 207, 95, 1);
$dark_green: rgba(28, 124, 84, 1);
$darker_green: rgba(27, 81, 45, 1);
$red: rgba(245, 39, 39, 1);
$yellow: rgba(255, 221, 0, 1);

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: $lighter_green;
    color: #010101;
}

h1, h2, h3, h4, h5, h6, .sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: bold;
    @extend .sans-serif;
}

h1, .h1 {
    font-size: 2.5em;
}

h2, .h2 {
    font-size: 2em;
}

h3, .h3 {
    font-size: 1.5em;
}

h4, .h4 {
    font-size: 1.2em;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 1em 0;
    line-height: 1.4em;
}

.text--small {
    font-size: .95em;
}

img {
    max-width: 100%;
}

.margin-top {
    margin-top: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.form {
    label {
        display: inline-block;
        margin-top: .75em;
        margin-bottom: .25em;
    }
    
    label.required::after {
        content: ' *';
        color: $red;
    }
    
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: .75em 0;
        text-indent: .75em;
        @extend .sans-serif;
        border: 1px solid #eee;
        outline: none;
        margin-bottom: .25em;
    }

    input[type=file] {
        padding: .75em 0;
    }

    input[type=checkbox] {
        margin-right: .5em;
    }
    
    button {
        border: 0;
        margin-top: .5em;
    }

    button:disabled {
        opacity: .75;
    }
    
    .is-invalid {
        border-color: $red;
        color: $red;
    }

    .is-invalid::placeholder {
        color: $red;
        opacity: .75;
    }
    
    input[type=text].is-invalid:focus,
    input[type=number].is-invalid:focus,
    input[type=email].is-invalid:focus,
    input[type=password].is-invalid:focus,
    select.is-invalid:focus,
    textarea.is-invalid:focus {
        box-shadow: 0 0 3px 2px rgba(245, 39, 39, .75);
    }
    
    input[type=text]:focus,
    input[type=number]:focus,
    input[type=email]:focus,
    input[type=password]:focus,
    select:focus,
    textarea:focus {
        box-shadow: 0 0 3px 2px $light_green;
    }
    
    input::placeholder,
    textarea::placeholder {
        @extend .sans-serif;
    }

    &__group--flex {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 1em;
    }

    &__help {
        color: $red;

        & > div {
            margin-bottom: .35em;
        }
    }

    &--max-width {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    min-height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: [full-start] minmax(0, 1fr) 
                           [main-start] minmax(0, 1280px) [main-end] 
                                        minmax(0, 1fr)  [full-end];
    
    & > * {
        grid-column: main;
        background-color: white;
        padding: 1em; 
    }
}

.container--full {
    grid-column: full;
    background-color: white;
}

.flex {
    display: flex;
}

.flex--between {
    justify-content: space-between;
}

.flex--end {
    justify-content: flex-end;
}

.flex--center {
    align-items: center;
}

.section {
    padding-top: 5em;
}

.header {
    padding: 0 2em;
    height: 50px;
    background-color: $darker_green;
    color: white;

    .brand {
        font-size: 2em;
    }

    nav ul li + li {
        margin-left: 2.5em;
    }

    &__profile-image {
        height: 30px;
        width: 30px;
        margin-right: .5em;
    }
}

.text-center {
    text-align: center;
}

.section-heading {
    margin-bottom: 1em;
}

.button {
    display: inline-block;
    padding: .55em 1.75em;
    background-color: $dark_green;
    color: white;
    @extend .sans-serif;

    &--small {
        padding: .4em 1.25em;
        font-size: .95em;
    }

    &--large {
        padding: .75em 2.5em;
        font-size: 1.05em;
    }
}
