$lighter_green: rgba(222, 244, 198, 1);
$light_green: rgba(115, 226, 167, 1);
$green: rgba(177, 207, 95, 1);
$dark_green: rgba(28, 124, 84, 1);
$darker_green: rgba(27, 81, 45, 1);
$red: rgba(245, 39, 39, 1);

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: $lighter_green;
    color: #010101;
}

h1, h2, h3, h4, h5, h6, .sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: bold;
    @extend .sans-serif;
}

h1, .h1 {
    font-size: 3em;
}

h2, .h2 {
    font-size: 2.5em;
}

h3, .h3 {
    font-size: 2em;
}

h4, .h4 {
    font-size: 1.25em;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 1em 0;
    line-height: 1.4em;
}

.text--small {
    font-size: .95em;
}

img {
    max-width: 100%;
}

.form {
    label {
        display: inline-block;
        margin-top: .75em;
        margin-bottom: .25em;
    }
    
    label.required::after {
        content: ' *';
        color: $red;
    }
    
    input,
    select,
    textarea {
        display: block;
        width: 100%;
        padding: .5em 0;
        text-indent: 1em;
        @extend .sans-serif;
        border: 1px solid #eee;
        outline: none;
        margin-bottom: .25em;
    }
    
    button {
        border: 0;
        margin-top: .5em;
    }

    button:disabled {
        opacity: .75;
    }
    
    input.is-invalid,
    select.is-invalid,
    textarea.is-invalid {
        border-color: $red;
        color: $red;
    }

    input.is-invalid::placeholder,
    select.is-invalid::placeholder,
    textarea.is-invalid::placeholder {
        color: $red;
        opacity: .75;
    }
    
    input.is-invalid:focus,
    select.is-invalid:focus,
    textarea.is-invalid:focus {
        box-shadow: 0 0 3px 2px rgba(245, 39, 39, .75);
    }
    
    input:focus,
    select:focus,
    textarea:focus {
        box-shadow: 0 0 3px 2px $light_green;
    }
    
    input::placeholder,
    textarea::placeholder {
        @extend .sans-serif;
    }

    &__group--flex {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 1em;
    }

    &__help {
        color: $red;

        & > div {
            margin-bottom: .35em;
        }
    }

    &--max-width {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    min-height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: [full-start] minmax(0, 1fr) 
                           [main-start] minmax(0, 1280px) [main-end] 
                                        minmax(0, 1fr)  [full-end];
    
    & > * {
        grid-column: main;
        background-color: white;
        padding: 1em; 
    }
}

.container--full {
    grid-column: full;
    background-color: white;
}

.flex {
    display: flex;
}

.flex--between {
    justify-content: space-between;
}

.flex--center {
    align-items: center;
}

.section {
    padding-top: 5em;
}

.header {
    padding: 0 2em;
    height: 50px;
    background-color: $darker_green;
    color: white;

    .brand {
        font-size: 2em;
    }

    nav ul li + li {
        margin-left: 2.5em;
    }
}

.text-center {
    text-align: center;
}

.section-heading {
    margin-bottom: 1em;
}

.button {
    display: inline-block;
    padding: .55em 1.75em;
    background-color: $dark_green;
    color: white;
    @extend .sans-serif;

    &--small {
        padding: .4em 1.25em;
        font-size: .95em;
    }

    &--large {
        padding: .75em 2.5em;
        font-size: 1.05em;
    }
}

.featured-courses {
    height: 0;
    padding-top: 42.85%;
    background-image: url('https://d1cr57qij2cwzh.cloudfront.net/wp-content/uploads/2019/05/EOA_BackgroundColorsImages2019_Blog.gif');
    background-position: center;
    position: relative;
    
    &__course {
        color: white;
        position: absolute;
        bottom: 5em;
        left: 5em;
        background-color: rgba(0, 0, 0, .3);
        padding: 2em;
        max-width: 50%;

        &__heading {
            @extend .h1;
        }
    }
}

.why {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(400px, 1fr));
        grid-gap: 1em;
    }

    &__section {
        max-height: 250px;

        &__image {
            flex-basis: 30%;

            img {
                height: 100%;
            }
        }

        &__content {
            padding: 1em;
            flex: 1;
        }
    }
}

.faq {
    &__content {
        display: flex;
        overflow: hidden;

        &__questions {
            flex: 1;

            ul li {
                padding: 1em;
                background-color: $green;
            }
            
            ul li + li {
                border-top: 1px solid $dark_green;
            }
        }

        &__answer {
            flex: 3;
            padding: 0 1em;
            background-color: #efefef;
        }
    }
}

.admin-panel {
    &__create-lectures {
        display: grid;
        grid-template-columns: repeat(3, minmax(400px, 1fr));
        grid-gap: 1em;
        margin-top: 2em;

        &__header {
            margin-bottom: .5em;
        }
        
        &__list {
            display: flex;
            flex-direction: column;
            height: 700px;
            background-color: $lighter_green;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        &__list::-webkit-scrollbar {
            display: none;
        }
        
        &__list li {
            background-color: $green;
            border-bottom: 2px solid $darker_green;
            display: flex;
            flex-direction: column;
        }
        
        &__list li.active {
            background-color: $dark_green;
            flex: 1;
        }
        
        &__list li.active &__item__header {
            color: white;
        }

        &__list li.active &__item-content {
            background-color: white;
            flex: 1;
            padding: 1em;
        }
        
        &__item__header {
            padding: .75em;
            cursor: pointer;
        }

        .no-content {
            color: $dark_green;
            font-size: 1.25em;
            margin: auto;

            i {
                display: block;
                font-size: 3em;
            }
        }

        .add-button {
            cursor: pointer;
            font-size: 1.25em;
            color: $dark_green;
        }
    }
}

.dashboard {
    max-height: calc(100vh - 50px);
    display: grid;
    grid-template-areas: "user list"
                         "pick list";
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 1em;

    &__section {
        background-color: #efefef;
    }

    &__user {
        @extend .text-center;
        grid-area: user;
        display: flex;

        &__content {
            margin: auto;

            img {
                max-width: 100px;
                max-width: 100px;
                border-radius: 100px;
                margin-bottom: 1em;
            }

            &__name {
                position: relative;

                &:hover::after {
                    position: absolute;
                    font-family: FontAwesome;
                    content: '\f044';
                    font-size: .8em;
                    top: 7px;
                    left: 100%;
                    cursor: pointer;
                }
            }

            &__email {
                position: relative;

                &:hover::after {
                    position: absolute;
                    font-family: FontAwesome;
                    content: '\f044';
                    top: 1px;
                    left: 100%;
                    cursor: pointer;
                }
            }
        }
    }

    &__pick {
        grid-area: pick;
        position: relative;

        &__list {
            height: 100%;
            display: flex;
            overflow: hidden;

            &__arrow-previous {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1em;
                font-size: 2em;
            }

            &__arrow-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1em;
                font-size: 2em;
            }
        }

        &__list-item {
            background-image: url('https://d1cr57qij2cwzh.cloudfront.net/wp-content/uploads/2019/05/EOA_BackgroundColorsImages2019_Blog.gif');
            background-position: center;
            background-size: cover;
            height: 100%;
            position: relative;

            &__content {
                position: absolute;
                bottom: 1.5em;
                left: 1.5em;
                padding: 1em;
                background-color: rgba(0, 0, 0, .3);
                max-width: 75%;
            }

            &__complete-percentage {
                margin-top: .5em;
                margin-bottom: 0;
            }
        }
    }

    &__list {
        max-height: calc(100vh - 50px - 2em);
        grid-area: list;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &--modules {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &--lectures {
            &__item__header {
                padding: .5em;
                font-size: .9em;
                cursor: pointer;
            }

            & li {
                background-color: $light_green !important;
                border-width: 1px !important;
            }
        }

        &__module-content,
        &__lecture-content {
            padding: 1em;
        } 

        & li {
            background-color: $green;
            border-bottom: 2px solid $darker_green;
            display: flex;
            flex-direction: column;
        }

        & li:last-of-type {
            border-bottom: 0;
        }
        
         li.active {
            background-color: $dark_green;
            flex: 1;
        }
        
         li.active &__item__header {
            color: white;
        }

         li.active &__item-content {
            background-color: white;
            flex: 1;
        }
        
        &__item__header {
            padding: .75em;
            cursor: pointer;
        }

        .no-content {
            color: $dark_green;
            font-size: 1.25em;
            margin: auto;
            padding: 1em 0;

            i {
                display: block;
                font-size: 3em;
            }
        }
    }
}
