@import '../../styles.scss';

.admin-panel {
    .courses-and-lectures {
        display: -ms-grid;
        display: grid;
        grid-gap: 2em;
        -ms-grid-columns: 2fr 2em 1fr;
        grid-template-columns: 2fr 1fr;
        -ms-grid-rows: 2fr 2em 1fr 2em 1fr;
        grid-template-rows: 2fr 1fr 1fr;
            grid-template-areas:"courses new-course"
                            "courses edit-course"
                            "courses new-lecture";

        .courses {
            -ms-grid-row: 1;
            -ms-grid-row-span: 5;
            -ms-grid-column: 1;
            color: white;
            grid-area: courses;
            position: relative;

            img {
                height: 100%;
            }

            .course {
                height: 100%;
                background-position: center;
                background-size: cover;
            }

            .enrolled-courses-controls {
                position: absolute;
                bottom: 105px;
                right: 25px;
                color: white;

                .arrow img {
                    width: 30px;
                    cursor: pointer;
                }
                
                .enrolled-courses-control-info {
                    margin: 0 10px;
                    @extend .sans-serif;
                    
                    
                    div:first-child {
                        font-size: 2.14em;
                        font-weight: bold;
                        line-height: .85;
                    }
                }
            }

            .course-info {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 1em;
                background-color: rgba(0, 0, 0, .5);

                .info {
                    @extend .sans-serif;
                    font-weight: bold;
        
                    span + span {
                        position: relative;
                        margin-left: 1.5em;
                        
                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            border-radius: 6px;
                            background-color: white;
                            left: -16px;
                            top: 50%;
                            transform: translateY(-30%);
                        }
                    }
                }
            }
        }

        .buttons {
            @extend .sans-serif;
            cursor: pointer;
        }

        .new-course {
            -ms-grid-row: 1;
            -ms-grid-column: 3;
            grid-area: new-course;
            background-color: $red;
            @extend .buttons;
            
            span {
                color: white;
                font-size: 2.5em;
                padding: 1em .9em;
                line-height: 1.2em;
            }
        }

        .edit-course {
            -ms-grid-row: 3;
            -ms-grid-column: 3;
            grid-area: edit-course;
            border: 3px solid $green;
            @extend .buttons;

            span {
                color: $green;
                font-size: 1.75em;
            }
        }

        .edit-course:hover {
            background-color: $green;

            span {
                color: white;
            }
        }

        .new-lecture {
            -ms-grid-row: 5;
            -ms-grid-column: 3;
            grid-area: new-lecture;
            border: 3px solid $red;
            @extend .buttons;

            span {
                color: $red;
                font-size: 1.75em;
            }
        }

        .new-lecture:hover {
            background-color: $red;
            
            span {
                color: white;
            }
        }

        .no-courses {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $black;

            img {
                margin: 0 auto;
                display: block;
                width: 100px;
            }
        }
    }

    .user-search-and-filter {
        input,
        select {
            border: 0;
            color: $black;
            padding: .6em 1em;
        }

        .filter {
            select {
                background-color: white;
            }

            select + select {
                margin-left: 1em;
            }
        }
    }

    .users-table {
        height: 500px;
        max-height: 500px;
        overflow-y: auto;
        @extend .scrollbar--large;

        table {
            width: 100%;
            background-color: white;

            thead {
                border-bottom: 1px solid $grey;
                font-weight: bold;
            }
            
            .sort-up:not(.hide-sort)::after {
                padding-left: 5px;
                cursor: pointer;
                content: url('/assets/icons/sort-alpha-up.svg');
            }
            
            .sort-down:not(.hide-sort)::after {
                padding-left: 5px;
                cursor: pointer;
                content: url('/assets/icons/sort-alpha-down.svg');
            }

            tr {
                cursor: pointer;
            }

            th, td {
                padding: .75em;
            }

            tbody tr:hover,
            th:hover {
                background-color: $lighter_grey;
            }
        }
    }
}

@media (max-width: 1024px) {
    .admin-panel {
        .courses-and-lectures {
            .new-course {
                span {
                    font-size: 1.75em;
                    padding: 1em .75em;
                }
            }

            .course-info {
                h3.h2 {
                    font-size: 1.25em;
                }
            }
        }
    }
}

@media (max-width: 867px) {
    .admin-panel {
        .courses-and-lectures {
            grid-gap: 1em;
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-rows: 3fr 1fr;
            grid-template-rows: 3fr 1fr;
            grid-template-areas:"courses courses courses"
                                "new-course edit-course new-lecture";

            .courses .course {
                padding-top: 60%;
            }

            span {
                font-size: 1.15em !important;
                padding: .75em .5em !important;
            }
        }

        .filter,
        .info {
            display: none;
        }
    }
}