<div class="gradient-background">
    <img class="background-triangles-bottom" src="assets/triangles.png" alt="triangles">
    <div class="forgot-password fixed-section">
      <h2 class="text--white margin-bottom">Forgot Password</h2>
      <form class="form" [formGroup]="forgotPasswordForm" #ngForm="ngForm" action="signup" method="POST" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group" [ngClass]="{ 'is-invalid' : (email.invalid && email.touched) || (email.invalid && ngForm.submitted) }">
            <input type="email" id="email" formControlName="email" placeholder="Your email address">
            <div class="input-help flex flex--not-even flex--align-center">
              <div class="input-help-status"></div>
              <div class="input-help-message">
                <span>Email is required!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex--center flex--not-even margin-top--large">
            <div>
                <button type="submit" class="button button--large">Send Me An Email</button>
            </div>
        </div>
      </form>
    </div>
  </div>
  