.new-course .color-picker label {
    height: 54px;
    width: 54px;
    background-color: var(--black);
    margin-left: 1em;
    cursor: pointer;
  }
  .new-course .color-picker img {
    height: 25px;
    width: 25px;
    margin: auto;
  }
  .new-course .color-group-label {
    display: inline-block;
    margin-bottom: 0.5em;
  }
  .new-course .color-input-group input {
    flex: 1;
  }
  .new-course .color-input-group input {
    margin: 0;
  }
  .new-course .supported-language-group {
    flex: 1;
  }
  .new-course .add-language-button {
    margin: auto;
  }
  .new-course .add-language-button button {
    height: 54px;
    width: 54px;
    border: 0;
    background-color: var(--green);
    cursor: pointer;
  }
  .new-course .add-language-button button img {
    height: 25px;
    width: 25px;
  }
  .new-course .supported-languages-list .supported-language {
    background-color: var(--green);
    padding: 0.5em;
  }
  .new-course .supported-languages-list .supported-language span {
    color: white;
  }
  .new-course .supported-languages-list .supported-language img {
    width: 15px;
    margin-left: 0.5em;
  }
  .new-course .supported-languages-list .supported-language {
    margin-top: 0.5em;
    margin-right: 1em;
  }
  .new-course .supported-languages-list .supported-language:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 768px) {
    .new-course .color-picker label {
      height: 46px;
      width: 46px;
    }
    .new-course .color-picker img {
      height: 18px;
      width: 18px;
    }
    .new-course .add-language-button {
      margin-left: 1em;
    }
    .new-course .add-language-button button {
      height: 46px;
      width: 46px;
    }
    .new-course .add-language-button button img {
      height: 20px;
      width: 20px;
    }
    .new-course .color-input-group {
      margin-bottom: 1.25em !important;
    }
  }