@import '../../../styles.scss';

.file-upload {
    padding: 4em 0;
    position: relative;
    display: block;
    cursor: pointer;

    .file-upload-content {
        margin: auto;
        width: 40%;

        p {
            @extend .sans-serif;
            font-size: 1.75em;
            color: $light_purple;
        }
    }

    .preview-image {
        position: absolute;
        top: 1em;
        left: 1em;
        
        img {
            width: 250px;
        }

        div {
            margin-top: .4em;
        }
    }
}

.file-upload:hover {
    background-color: $light_grey;
}