@import '../../styles';

.dashboard {
    max-height: calc(100vh - 50px);
    display: grid;
    grid-template-areas: "user list"
                         "pick list";
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 1em;

    &__section {
        background-color: #efefef;
    }

    &__user {
        @extend .text-center;
        grid-area: user;
        display: flex;

        &__content {
            margin: auto;

            img {
                max-width: 100px;
                max-width: 100px;
                border-radius: 100px;
                margin-bottom: 1em;
            }

            &__name {
                position: relative;

                &:hover::after {
                    position: absolute;
                    font-family: FontAwesome;
                    content: '\f044';
                    font-size: .8em;
                    top: 7px;
                    left: 100%;
                    cursor: pointer;
                }
            }

            &__role {
                text-transform: capitalize;
            }

            &__email {
                padding-right: .25em;
                position: relative;

                &:hover::after {
                    position: absolute;
                    font-family: FontAwesome;
                    content: '\f044';
                    top: 1px;
                    left: 100%;
                    cursor: pointer;
                }
            }
        }
    }

    &__pick {
        grid-area: pick;
        position: relative;

        &__list {
            height: 100%;
            display: flex;
            overflow: hidden;

            &__arrow-previous {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1em;
                font-size: 2em;
            }

            &__arrow-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1em;
                font-size: 2em;
            }
        }

        &__list-item {
            background-image: url('https://d1cr57qij2cwzh.cloudfront.net/wp-content/uploads/2019/05/EOA_BackgroundColorsImages2019_Blog.gif');
            background-position: center;
            background-size: cover;
            height: 100%;
            position: relative;

            &__content {
                position: absolute;
                bottom: 1.5em;
                left: 1.5em;
                padding: 1em;
                background-color: rgba(0, 0, 0, .3);
                max-width: 75%;
            }

            &__complete-percentage {
                margin-top: .5em;
                margin-bottom: 0;
            }
        }
    }

    &__list {
        max-height: calc(100vh - 50px - 2em);
        grid-area: list;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &--modules {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &--lectures {
            &__item__header {
                padding: .5em;
                font-size: .9em;
                cursor: pointer;
            }

            & li {
                background-color: $light_green !important;
                border-width: 1px !important;
            }
        }

        &__module-content,
        &__lecture-content {
            padding: 1em;
        } 

        & li {
            background-color: $green;
            border-bottom: 2px solid $darker_green;
            display: flex;
            flex-direction: column;
        }

        & li:last-of-type {
            border-bottom: 0;
        }
        
         li.active {
            background-color: $dark_green;
            flex: 1;
        }
        
         li.active &__item__header {
            color: white;
        }

         li.active &__item-content {
            background-color: white;
            flex: 1;
        }
        
        &__item__header {
            padding: .75em;
            cursor: pointer;
        }

        .no-content {
            color: $dark_green;
            font-size: 1.25em;
            margin: auto;
            padding: 1em 0;

            i {
                display: block;
                font-size: 3em;
            }
        }
    }
}