 <div class="container">
  <div class="dashboard">
    <div class="user-details">
      <div class="flex flex--not-even flex--align-center">
        <div class="user-image">
          <img [src]="user.image" [alt]="user.username">
        </div>
        <div class="user-account-details">
          <h1 class="h2">{{ user.firstName }} {{ user.lastName }}</h1>
          <div class="user-username">@{{ user.username }}</div>
          <div class="user-role h4 text--capitalize">{{ user.role }}</div>
        </div>
      </div>
    </div>
    <div class="course-activity">
      <h2 class="image-heading">
        <img src="assets/icons/activity.svg" alt="activity"> 
        <span>{{ 'Course Activity' | translate }}</span>
      </h2>
      <div class="section">
        <div class="course-activity-graph">
          <div class="no-course-activity" *ngIf="courseActivityPercentages.length < 1">
            <span>No course activity yet</span>
          </div>
          <svg  viewBox="0 0 20 20">
            <circle r="10" cx="10" cy="10" fill="white" />
            <circle *ngFor="let c of courseActivityPercentages; let i = index" [attr.r]="5" [attr.cx]="10" [attr.cy]="10" [attr.fill]="'transparent'"
                    [attr.stroke]="c.color"
                    [attr.stroke-width]="10"
                    [attr.stroke-dasharray]="'calc(' + c.percentage + ' * 31.4 / 100) 31.4'"
                    [attr.transform]="'rotate(' + c.offset + ', 10, 10)'"
                    [style.z-index]="1000" />
          </svg>
        </div>
        <div class="course-activity-legend flex flex--not-even flex--between flex--align-center flex--center">
          <div class="course-activity-course flex flex--align-center" *ngFor="let course of courseActivityPercentages">
            <span class="course-activity-color" [style.background-color]="course.color"></span>
            <span class="course-activity-name"><a class="link" routerLink="/dashboard/course/{{course.id}}">{{course.shortName}}</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="enrolled-courses flex flex--not-even flex--column">
      <div class="flex flex--not-even flex--between flex--align-center">
        <h2 class="image-heading">
          <img src="assets/icons/enrolled-courses.svg" alt="enrolled-courses">
          <span>Enrolled Courses</span>
        </h2>
        <div>
          <a class="link" routerLink="/courses">Check out all the courses</a>
        </div>
      </div>
      <div class="enrolled-courses-list">
        <ng-container *ngIf="enrolledCourses.length > 0">
          <div [routerLink]="['/dashboard/course/', enrolledCourses[currentEnrolledCourse].slug]" class="enrolled-course" [ngStyle]="{'background-image': 'url(' + environment.HOST + enrolledCourses[currentEnrolledCourse].image + ')'}">
            <h3 class="h2">{{ enrolledCourses[currentEnrolledCourse].title }}</h3>
          </div>
          <div class="enrolled-courses-controls flex flex--align-center">
            <div class="arrow">
              <img (click)="previousEnrolledCourse()" [ngClass]="{ 'disabled': currentEnrolledCourse === 0 }" src="assets/icons/arrow-left.svg" alt="arrow-left">
            </div>
            <div class="enrolled-courses-control-info">
              <div>{{ currentEnrolledCourse + 1 }} / {{ enrolledCourses.length }}</div>
              <div>COURSES</div>
            </div>
            <div class="arrow">
              <img (click)="nextEnrolledCourse()" [ngClass]="{ 'disabled': currentEnrolledCourse === enrolledCourses.length - 1 }" src="assets/icons/arrow-right.svg" alt="arrow-right">
            </div>
          </div>
        </ng-container>
        <div class="no-courses flex" *ngIf="enrolledCourses.length < 1">
          <div>
            <img src="/assets/icons/frown.svg" alt="frown">
            <p>You haven't enrolled in any courses yet.</p>
            <div class="text--center">
              <span class="link" routerLink="/courses">Check out courses</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-lectures flex flex--not-even flex--column">
      <h2 class="image-heading"><img src="assets/icons/latest-lectures.svg" alt="latest-lectures"> Latest Lectures</h2>
      <div class="section">
        <div class="latest-lectures-list">
          <li class="latest-lecture" [style.border-left-color]="lecture.courseColor" *ngFor="let lecture of latestLectures">
            <h3 class="link"><a routerLink="/lecture/{{lecture.slug}}">{{lecture.title}}</a></h3>
            <span>Finished at {{formatDate(lecture.finishedAt)}}</span>
          </li>
          <div class="no-latest-lectures" *ngIf="latestLectures.length < 1">
            <span>You haven't finished any courses lately</span>
          </div>
        </div>
      </div>
    </div>
    <div class="monthly-activity flex flex--not-even flex--column">
      <h2 class="image-heading"><img src="assets/icons/activity.svg" alt="activity"> Monthly Activity</h2>
      <div class="section flex flex--not-even flex--column">
        <div class="current-month h3">
          <span class="image-heading flex--center"><img src="assets/icons/date.svg" alt="date"> {{ currentMonth }}</span>
        </div>
        <div class="monthly-activity-days flex">
          <div class="monthly-activity-day text--center flex flex--column flex--not-even flex--end" *ngFor="let day of monthlyActivityDays; let i = index">
            <div class="monthly-activity-bar" [ngStyle]="{ 'height': day + '%' }"></div>
            <span class="day text--small">{{formatDateNumber(i + 1)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>