@import '../../styles.scss';

.dashboard {
    height: calc(100vh - 50px);
    display: -ms-grid;
    display: grid;
    grid-gap: 2em;
    -ms-grid-rows: 100px 2em 1fr 2em 1fr;
    grid-template-rows: 100px 1fr 1fr;
    -ms-grid-columns: 375px 2em 1fr 2em 1fr;
    grid-template-columns: 375px 1fr 1fr;
        grid-template-areas: "user-details    enrolled-courses enrolled-courses"
                         "course-activity enrolled-courses enrolled-courses"
                         "latest-lectures monthly-activity monthly-activity";

    .user-details {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: user-details;
        @extend .sans-serif;

        .h2 {
            margin-bottom: 0;
        }

        .user-image {
            margin-right: 1em;

            img {
                width: 100px;
                height: 100px;
                border-radius: 100px;
            }
        }

        .user-username {
            color: $grey;
        }

        .user-role {
            margin-top: .5em;
            color: #2A2A2A;
            font-weight: bold;
        }
    }

    .course-activity {
        -ms-grid-row: 3;
        grid-row: 3;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: course-activity;

        .section {
            flex: 1;
        }

        .course-activity-graph {
            width: 80%;
            padding-top: 80%;
            margin: 0 auto;
            border-radius: 100%;
            position: relative;

            & > * {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            .no-course-activity {
                display: flex;

                span {
                    margin: auto;
                    position: relative;
                    z-index: 10;
                }
            }
        }

        .course-activity-legend {
            margin: 1em auto 0 auto;
            width: 80%;

            .course-activity-color {
                display: block;
                margin-right: .2em;
                width: 13px;
                height: 13px;
                background-color: $light_grey;
            }
        }

        .course-activity-course + .course-activity-course {
            margin-left: .5em;
        }
    }

    .enrolled-courses {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-column-span: 3;
        grid-area: enrolled-courses;

        & > .flex:first-child {
            height: 40px;
        }

        .image-heading {
            flex: 1;
        }

        .enrolled-courses-list {
            position: relative;
            flex: 1;
            
            .enrolled-course {
                cursor: pointer;
                height: 100%;
                background-position: center;
                background-size: cover;

                h3 {
                    position: absolute;
                    bottom: -7px;
                    left: 0;
                    width: 100%;
                    padding: .5em .5em .5em 1em;
                    color: white;
                    background-color: rgba(0, 0, 0, .5);
                }
            }

            .enrolled-courses-controls {
                position: absolute;
                bottom: 75px;
                right: 25px;
                color: white;

                .arrow img {
                    width: 30px;
                    cursor: pointer;
                }
                
                .enrolled-courses-control-info {
                    margin: 0 10px;
                    @extend .sans-serif;
                    
                    
                    div:first-child {
                        font-size: 2.3em;
                        font-weight: bold;
                        line-height: .85;
                    }
                }
            }

            .no-courses {
                background-color: $lighter_grey;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                color: $black;

                div {
                    text-align: center;
                    margin: auto;

                    img {
                        margin: 0 auto;
                        display: block;
                        width: 100px;
                    }
                }
            }
        }
    }

    .latest-lectures {
        -ms-grid-row: 5;
        grid-row: 5;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-area: latest-lectures;
        
        .section {
            position: relative;
            flex: 1;

            .latest-lectures-list {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                list-style: none;
                overflow-y: auto;
                padding: 1em;
                @extend .scrollbar;
                
                .latest-lecture {
                    background-color: white;
                    border-left: 20px solid $light_grey;
                    padding: .5em;
    
                    h3 {
                        @extend .serif;
                    }
    
                    span {
                        color: $grey;
                    }
                }
    
                .latest-lecture + .latest-lecture {
                    margin-top: 1em;
                }

                .no-latest-lectures {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;

                    span {
                        margin: auto;
                    }
                }
            }
        }
    }

    .monthly-activity {
        -ms-grid-row: 5;
        grid-row: 5;
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-column-span: 3;
        grid-area: monthly-activity;

        .section {
            flex: 1;

            .current-month {
                color: $grey;
            }

            .monthly-activity-days {
                align-items: stretch;
                flex: 1;

                .monthly-activity-day {
                    padding: 0 .3em;
    
                    .monthly-activity-bar {
                        background-color: $pink;
                        margin-bottom: .3em;
                    }

                    .day {
                        @extend .sans-serif;
                    }
        
                }

                .monthly-activity-day:first-child {
                    padding-left: 0;
                }

                .monthly-activity-day:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}
