<div class="container">
  <div class="signup">
    <form class="form form--max-width" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
      <h1>Sign Up</h1>
      <div class="form__group--flex">
        <div class="form__group__section">
          <label for="first_name">First Name</label>
          <input type="text" [class.is-invalid]="first_name.invalid && first_name.touched" id="first_name"
            formControlName="first_name" placeholder="Enter first name">
          <div class="form__help text--small" *ngIf="first_name.invalid && first_name.touched">
            <div *ngIf="first_name.errors?.required">First name is required.</div>
            <div *ngIf="first_name.errors?.minlength">First name length must be more
              than
              {{ first_name.errors?.minlength.requiredLength }} letters.</div>
            <div *ngIf="first_name.errors?.nameNotValid">First name can only contain
              characters.</div>
          </div>
        </div>
        <div class="form__group__section">
          <label for="last_name">Last Name</label>
          <input type="text" [class.is-invalid]="last_name.invalid && last_name.touched" id="last_name"
            formControlName="last_name" placeholder="Enter first name">
          <div class="form__help text--small" *ngIf="last_name.invalid && last_name.touched">
            <div *ngIf="last_name.errors?.required">Last name is required.</div>
            <div *ngIf="last_name.errors?.minlength">Last name length must be more than
              {{ last_name.errors?.minlength.requiredLength }} letters.</div>
            <div *ngIf="last_name.errors?.nameNotValid">Last name can only contain
              characters.</div>
          </div>
        </div>
      </div>
      <div class="form__group">
        <label for="email">Email address</label>
        <input type="email" [class.is-invalid]="email.invalid && email.touched" id="email" formControlName="email"
          placeholder="Enter email">
        <div class="form__help text--small" *ngIf="email.invalid && email.touched">
          <div *ngIf="email.errors?.required">Email is required.</div>
          <div *ngIf="email.errors?.notValidEmail">Email is not valid.</div>
          <div *ngIf="email.errors?.emailTaken">User with this email is already
            signed up.
          </div>
        </div>
      </div>
      <div class="form__group">
        <label for="password">Password</label>
        <input type="password" [class.is-invalid]="password.invalid && password.touched" id="password"
          formControlName="password" placeholder="Password">
        <div class="form__help text--small" *ngIf="password.invalid && password.touched">
          <div *ngIf="password.errors?.required">Password is required.</div>
          <div *ngIf="password.errors?.minlength">Password length must be at least
            {{ password.errors?.minlength.requiredLength }} characters.</div>
          <div *ngIf="password.errors?.notValidPassword">Password must contain lower
            and
            upper case letters, numbers and special characters.</div>
        </div>
      </div>
      <div class="form__group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password"
          [class.is-invalid]="(confirmPassword.invalid && confirmPassword.touched) || signupForm.errors"
          id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
        <div class="form__help text--small"
          *ngIf="(confirmPassword.invalid && confirmPassword.touched) || signupForm.errors">
          <div *ngIf="confirmPassword.errors?.required">Confirm password is required.
          </div>
          <div *ngIf="signupForm.errors?.passwordsNotMatching">Passwords don't
            match.
          </div>
        </div>
      </div>
      <button type="submit" class="button button--large" [disabled]="this.signupForm.invalid">Sign Up</button>
    </form>
  </div>
</div>