.home {
    color: white;
    
    & .flex > div:first-child {
        padding-right: 3em;
    }

    & .flex > div:last-child {
        padding-left: 3em;
    }
    
    &__description {
        width: 60%;
    }
}

.course-carousel {
    position: relative;
    margin-top: 7.5em;

    .course {
        width: 85%;

        img {
            width: 100%;
            height: 250px;
        }
    }

    .course:only-child {
        width: 100%;

        img {
            width: 100%;
            height: 350px;
        }
    }

    .course:first-child {
        position: relative;
        z-index: 3;
    }

    .course:nth-child(2) {
        position: absolute;
        bottom: 40px;
        left: 40px;
        z-index: 2;
        opacity: .75;
    }

    .course:not(:only-child):last-child {
        position: absolute;
        bottom: 80px;
        left: 80px;
        z-index: 1;
        opacity: .5;
    }

    .carousel-arrow {
        position: absolute;
        z-index: 5;
        display: block;
        width: 20px;
        cursor: pointer;

        &--left {
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
        
        &--right {
            right: 130px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}