@import '../../styles';

.featured-courses {
    height: 0;
    padding-top: 42.85%;
    background-image: url('https://d1cr57qij2cwzh.cloudfront.net/wp-content/uploads/2019/05/EOA_BackgroundColorsImages2019_Blog.gif');
    background-position: center;
    position: relative;
    
    &__course {
        color: white;
        position: absolute;
        bottom: 5em;
        left: 5em;
        background-color: rgba(0, 0, 0, .3);
        padding: 2em;
        max-width: 50%;

        &__heading {
            @extend .h1;
        }
    }
}

.why {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(400px, 1fr));
        grid-gap: 1em;
    }

    &__section {
        max-height: 250px;

        &__image {
            flex-basis: 30%;

            img {
                height: 100%;
            }
        }

        &__content {
            padding: 1em;
            flex: 1;
        }
    }
}

.faq {
    &__content {
        display: flex;
        overflow: hidden;

        &__questions {
            flex: 1;

            ul li {
                padding: 1em;
                background-color: $green;
            }
            
            ul li + li {
                border-top: 1px solid $dark_green;
            }
        }

        &__answer {
            flex: 3;
            padding: 0 1em;
            background-color: #efefef;
        }
    }
}