.home {
    color: white;
  }
  .home .flex > div:first-child {
    padding-right: 3em;
  }
  .home .flex > div:last-child {
    padding-left: 3em;
  }
  .home__description {
    width: 60%;
  }
  .home .cta-signup {
    display: none;
  }
  
  .course-carousel {
    position: relative;
    margin-top: 7.5em;
  }
  .course-carousel .course {
    width: 85%;
  }
  .course-carousel .course img {
    width: 100%;
    height: 280px;
  }
  .course-carousel .course:only-child {
    width: 100%;
  }
  .course-carousel .course:only-child img {
    width: 100%;
    height: 380px;
  }
  .course-carousel .course:first-child {
    position: relative;
    z-index: 3;
  }
  .course-carousel .course:nth-child(2) {
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 2;
    opacity: 0.75;
  }
  .course-carousel .course:not(:only-child):last-child {
    position: absolute;
    bottom: 80px;
    left: 80px;
    z-index: 1;
    opacity: 0.5;
  }
  .course-carousel .carousel-arrow {
    position: absolute;
    z-index: 5;
    display: block;
    width: 20px;
    cursor: pointer;
  }
  .course-carousel .carousel-arrow--left {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  .course-carousel .carousel-arrow--right {
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  @media (max-width: 1024px) {
    .home .cta-signup {
      display: block;
      margin: 2em auto 0 auto;
    }
    .home .home__left {
      text-align: center;
      padding-right: 0 !important;
    }
    .home .hr {
      margin: 1.25em auto;
    }
    .home .home__description {
      width: 100%;
    }
    .home .home__right {
      display: none;
    }
    .home .course-carousel {
      margin-top: 9em;
    }
    .home .course-carousel .course {
      cursor: pointer;
    }
    .home .course-carousel .course:nth-child(2) {
      bottom: 50px;
    }
    .home .course-carousel .course:not(:only-child):last-child {
      bottom: 100px;
    }
  }
  @media (max-width: 768px) {
    .background-triangles {
      height: 70vh;
    }
  }
  @media (max-width: 500px) {
    .home .course-carousel {
      display: none;
    }
  
    .background-triangles {
      height: 55vh;
    }
  }