<section class="header flex flex--between flex--align-center" [ngClass]="{'header--fixed' : hasFixedHeader}">
  <span class="brand sans-serif h4"><a routerLink="/">Programer21 <small *ngIf="isDevelopment">(DEV)</small></a></span>
  <nav class="navigation">
    <ul class="flex flex--not-even flex--align-center flex--end">
      <li><a routerLink="/courses">Courses</a></li>
      <li class="account-link flex flex--not-even flex--align-center" *ngIf="auth.userData">
        <img (click)="toggleAccountDropdownMenu()" class="profile-image" [src]="auth.userData.image" alt="{{auth.userData.firstName}} {{auth.userData.lastName}}">
        <span (click)="toggleAccountDropdownMenu()">{{auth.userData.firstName}} {{auth.userData.lastName}} <i class="fa" [ngClass]="{'fa-angle-down' : !showAccountDropdownMenu, 'fa-angle-up': showAccountDropdownMenu}"></i></span>
        <nav class="account-dropdown" *ngIf="showAccountDropdownMenu">
          <ul>
            <li (click)="routeTo('/dashboard')"><a>Dashboard</a></li>
            <li *ngIf="auth.userData.role === 'administrator'"><a (click)="routeTo('/admin-panel')">Admin Panel</a></li>
            <li (click)="routeTo('/settings/' + auth.userData.id)"><a>Settings</a></li>
            <li (click)="logout()"><a>Logout</a></li>
          </ul>
        </nav>
      </li>
      <li *ngIf="!auth.userData"><a routerLink="/login">Login</a></li>
      <li *ngIf="!auth.userData"><a routerLink="/signup">Sign Up</a></li>
    </ul>
  </nav>
</section>
<div *ngIf="loading" class="loading">
  <div class="loading__block"></div>
</div>
<router-outlet></router-outlet>
