<section class="header flex flex--between flex--center">
  <span class="brand sans-serif"><a routerLink="/">Avika</a></span>
  <nav>
    <ul class="flex flex--center">
      <li><a href="/learn">Learn</a></li>
      <li><a href="/games">Educational Games</a></li>
      <li><a href="/live-chat">Live Chat</a></li>
      <li *ngIf="!auth.isLoggedIn()"><a href="/login">Login</a></li>
      <li *ngIf="!auth.isLoggedIn()"><a href="/signup" class="button">Sign Up</a></li>
      <li *ngIf="auth.isLoggedIn()"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</section>
<router-outlet></router-outlet>
