@import '../styles.scss';

.header {
    padding: 0 2em;
    height: 50px;
    background: linear-gradient(to right, $dark_purple 0%, $light_purple 100%);
    color: white;

    .brand img {
        height: 30px;
        width: auto;
    }

    & > .navigation > ul li + li {
        margin-left: 3em;
    }

    &--fixed {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: unset;
    }

    .profile-image {
        height: 35px;
        width: 35px;
        margin-right: .5em;
    }
}

.account-link {
    z-index: 1000;
    position: relative;

    img,
    span {
        cursor: pointer;
    }

    .account-dropdown {
        position: absolute;
        top: 115%;
        right: 0;
        width: 175px;

        ul {
            background-color: $dark_purple;

            li {
                padding: 1em;
                margin: 0 !important;
                cursor: pointer;
            }

            li:hover {
                background-color: $light_purple;
            }
        }
    }
}

.show-sm {
    display: none;
}

@media (max-width: 768px) {
    .header {
        & > .navigation > ul li + li {
            margin-left: 0;
        }

        & > .navigation > ul li {
            margin-right: 2em;
        }
        & > .navigation > ul li:last-child {
            margin-right: 0;
        }
    }

    .hide-sm {
        display: none;
    }

    .show-sm {
        display: block;
    }
}