<div class="gradient-background">
    <img class="background-triangles-bottom" src="assets/triangles.png" alt="triangles">
    <div class="new-password fixed-section">
      <h2 class="text--white margin-bottom">Enter New Password</h2>
      <form class="form" [formGroup]="newPasswordForm" #ngForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="password">New Password</label>
          <div class="input-group" [ngClass]="{ 'is-invalid' : (password.invalid && password.touched) || (password.invalid && ngForm.submitted) }">
            <input type="password" id="password" formControlName="password" placeholder="Enter new password">
            <div class="input-help flex flex--not-even flex--align-center">
              <div class="input-help-status"></div>
              <div class="input-help-message">
                <span *ngIf="password.errors?.required">Password is required!</span>
                <span *ngIf="password.errors?.minlength">Password must be atleast {{ password.errors?.minlength.requiredLength }} characters long!</span>
                <span *ngIf="password.errors?.notValidPassword && !password.errors?.required && !password.errors?.minlength">Password must have a capital letter, a number and a special character!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm New Password</label>
          <div class="input-group" [ngClass]="{ 'is-invalid' : ((confirmPassword.errors?.required || ngForm.errors?.passwordsNotMatching) && confirmPassword.touched) || (confirmPassword.invalid && ngForm.submitted) }">
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm new password">
            <div class="input-help flex flex--not-even flex--align-center">
              <div class="input-help-status"></div>
              <div class="input-help-message">
                <span *ngIf="confirmPassword.errors?.required">Password is required!</span>
                <span *ngIf="ngForm.errors?.passwordsNotMatching && !confirmPassword.errors?.required">Passwords don't match!</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex--center flex--not-even margin-top--large">
            <div>
                <button type="submit" class="button button--large">Save New Password</button>
            </div>
        </div>
      </form>
    </div>
  </div>
  