.user-course .course-main-info {
    flex: 1;
    padding-right: 1em;
  }
  .user-course .course-main-info .course-info {
    color: #DC3545;
    font-family: "Lato", sans-serif;
    line-height: 1.2em;
    font-weight: bold;
  }
  .user-course .course-main-info .course-info span + span {
    position: relative;
    margin-left: 1.5em;
  }
  .user-course .course-main-info .course-info span + span::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #DC3545;
    left: -16px;
    top: 50%;
    transform: translateY(-30%);
  }
  .user-course .course-main-info .course-supported-languages {
    color: #DC3545;
  }
  .user-course .course-payment-info {
    flex: 2;
    padding-left: 1em;
  }
  .user-course .course-payment-info .thumbnail {
    position: relative;
  }
  .user-course .course-payment-info .thumbnail .course-percentage {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: #E6E6E6;
  }
  .user-course .course-payment-info .thumbnail .course-percentage .percentage {
    height: 100%;
    background-color: #28A745;
  }
  .user-course .course-payment-info .thumbnail .course-text-percentage {
    position: absolute;
    bottom: -10px;
    left: -20px;
    width: 40px;
    height: 40px;
    background-color: #28A745;
    box-shadow: 4px 4px 10px #00000059;
  }
  .user-course .course-payment-info .thumbnail .course-text-percentage span {
    margin: auto;
    color: white;
    font-family: "Lato", sans-serif;
    line-height: 1.2em;
  }
  .user-course .course-lectures-list .course-lecture {
    background-color: #EEF3FF;
    padding: 0.55em 1em;
  }
  .user-course .course-lectures-list .course-lecture .lecture-title {
    flex: 1;
  }
  .user-course .course-lectures-list .course-lecture .lecture-title img {
    cursor: pointer;
    width: 18px;
    margin-right: 0.75em;
    transition: transform 0.4s ease;
  }
  .user-course .course-lectures-list .course-lecture .lecture-title .rotate-arrow {
    transform: rotateZ(180deg);
  }
  .user-course .course-lectures-list .course-lecture .lecture-title span {
    color: #401598;
    font-family: "Lato", sans-serif;
    line-height: 1.2em;
    font-weight: bold;
  }
  .user-course .course-lectures-list .course-lecture .course-lecture-more-info {
    margin-top: 0.65em;
    padding-top: 0.5em;
    padding-bottom: 0.65em;
    border-top: 1px solid white;
  }
  .user-course .course-lectures-list .course-lecture .course-lecture-more-info .more-info-left {
    padding-right: 1em;
  }
  .user-course .course-lectures-list .course-lecture .course-lecture-more-info .more-info-right {
    padding-left: 1em;
  }
  .user-course .course-lectures-list .course-lecture .course-lecture-more-info p {
    margin: 0;
  }
  .user-course .course-lectures-list .lecture-finished {
    background-color: #28A745;
    color: white;
  }
  .user-course .course-lectures-list .lecture-finished .lecture-title span {
    color: white;
  }
  .user-course .course-lectures-list .course-lecture + .course-lecture {
    margin-top: 1em;
  }
  
  @media (max-width: 1024px) {
    .user-course .course-payment-info {
      flex: 1;
    }
  }
  @media (max-width: 768px) {
    .user-course .course-main {
      flex-direction: column-reverse;
    }
    .user-course .course-main .course-payment-info {
      padding-left: 0;
      margin-bottom: 1.5em;
    }
  }