<div class="container">
    <div class="edit-course">
        <form class="form" [formGroup]="editCourseForm" #ngForm="ngForm" action="signup" method="POST" (ngSubmit)="onSubmit(editCourseForm.value)">
            <h2>Edit Course</h2>

            <div class="section section--large">
                <div class="form-group">
                    <div class="flex flex--align-center flex--not-even flex--between">
                        <label for="title" class="required">Title</label>
                        <span>Slug: {{ title.value | titleToSlug }}</span>
                    </div>
                    <div class="input-group"
                        [ngClass]="{ 'is-invalid' : (title.invalid && title.touched) || (title.invalid && ngForm.submitted) }">
                        <input type="text" id="title" formControlName="title"
                            placeholder="Course title">
                        <div class="input-help flex flex--not-even flex--align-center">
                            <div class="input-help-status"></div>
                            <div class="input-help-message">
                                <span>Title is required!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="form-group">
                        <label for="difficulty" class="required">Difficulty</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (difficulty.invalid && difficulty.touched) || (difficulty.invalid && ngForm.submitted) }">
                            <select formControlName="difficulty" id="difficulty">
                                <option value="">Select difficulty</option>
                                <option value="beginner">Beginner</option>
                                <option value="advanced">Advanced</option>
                            </select>
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span>Course must have a difficulty!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="required">Price</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (price.invalid && price.touched) || (price.invalid && ngForm.submitted) }">
                            <input type="number" id="price" formControlName="price"
                                placeholder="Enter course price">
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span>Price is required!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="required">Status</label>
                    <div class="input-group"
                        [ngClass]="{ 'is-invalid' : (status.invalid && status.touched) || (status.invalid && ngForm.submitted) }">
                        <select formControlName="status" id="status">
                            <option value="private">Private</option>
                            <option value="public">Public</option>
                        </select>
                        <div class="input-help flex flex--not-even flex--align-center">
                            <div class="input-help-status"></div>
                            <div class="input-help-message">
                                <span>Course must have a status!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="form-group">
                        <label for="shortName" class="required">Programming Language / Short Name</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (shortName.invalid && shortName.touched) || (shortName.invalid && ngForm.submitted) }">
                            <input type="text" id="shortName" formControlName="shortName"
                                placeholder="Enter course programming language / short name">
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span>Programming language / short name is required!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="color" class="required color-group-label">Color</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (color.invalid && color.touched) || (color.invalid && ngForm.submitted) }">
                            <div class="color-input-group flex flex--not-even flex--align-center">
                                <input type="text" id="color" formControlName="color"
                                    placeholder="What you want to be know as on Programer21">
                                <div class="color-picker">
                                    <label class="flex" for="color-picker" [ngStyle]="{ 'background-color': color.value }">
                                        <img src="assets/icons/color-picker.svg" alt="color-picker">
                                        <input type="color" hidden id="color-picker" #colorPicker (change)="colorChanged(colorPicker.value)">
                                    </label>
                                </div>
                            </div>
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span>Color is required!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex--not-even flex--align-center">
                    <div class="form-group supported-language-group">
                        <label for="supportedLanguage" class="required">Supported Languages</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : !supportedLanguage && supportedLanguageSubmitted }">
                            <input type="text" id="supportedLanguage" [ngModelOptions]="{standalone: true}" [(ngModel)]="supportedLanguage"
                                placeholder="Enter supported language to add">
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span>Supported language can't be empty!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-language-button">
                        <button type="button" class="flex" (click)="addSupportedLanguage()">
                            <img src="assets/icons/plus.svg" alt="plus">
                        </button>
                    </div>
                </div>
                <div class="supported-languages-list margin-bottom flex flex--not-even flex--align-center">
                    <div class="supported-language flex flex--not-even flex--align-center" *ngFor="let language of supportedLanguages; let i = index">
                        <span class="text--capitalize">{{ language }}</span>
                        <div (click)="removeSupportedLanguage(i)" class="remove-supported-language">
                            <img src="assets/icons/remove-supported-language.svg" alt="remove-supported-language">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">User Description</label>
                    <div class="input-group"
                        [ngClass]="{ 'is-invalid' : (description.invalid && description.touched) || (description.invalid && ngForm.submitted) }">
                        <textarea formControlName="description" id="description" cols="30" rows="5"
                            placeholder="User Description"></textarea>
                        <div class="input-help flex flex--not-even flex--align-center">
                            <div class="input-help-status"></div>
                            <div class="input-help-message">
                                <span *ngIf="description.errors?.required">Description is required!</span>
                                <span *ngIf="description.errors?.maxlength">Description must be contain less than {{ description.errors?.maxlength.requiredLength }} characters!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="margin-top">
                <file-upload [uploadText]="'Upload Course Image'" [imagePreview]="image.value" (onFileUpload)="onFileUpload($event)"></file-upload>
            </div>
            <div class="flex flex--not-even flex--between flex--align-start margin-top">
                <button type="submit" class="button button--large button--update" [disabled]="editCourseForm.invalid && ngForm.submitted">Update Course</button>
                <div>
                    <div class="flex flex--not-even flex--center">
                        <button (click)="deleteCourse()" type="button" class="button button--large button--delete">Delete Course</button>
                    </div>
                    <div class="flex flex--not-even flex--center">
                        <span class="course-delete-reminder">and all its lectures</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex flex--not-even flex--align-end flex--between margin-top margin-bottom--small">
            <h2>Course Lectures</h2>
            <div class="filter-lectures">
                <input type="search" name="search" placeholder="Search lectures" [(ngModel)]="searchInput" (input)="filterLectures()">
                <select name="status" [(ngModel)]="statusFilter" (change)="filterLectures()">
                    <option value="">Filter by status</option>
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                </select>
            </div>
        </div>
        <div class="course-lectures-list">
            <div class="course-lecture" *ngFor="let lecture of courseLectures; let i = index">
                <div class="flex flex--not-even flex--between flex--align-center">
                    <div class="lecture-title flex flex--not-even flex--align-center">
                        <img *ngIf="lecture.status === 'public'" src="assets/icons/users.svg" alt="users">
                        <img *ngIf="lecture.status === 'private'" src="assets/icons/user-lock.svg" alt="user-lock">
                        <span [ngClass]="{ 'private-lecture-title': lecture.status === 'private' }" (click)="routeToLecture(lecture)">{{ lecture.title }}</span>
                    </div>
                    <div class="lecture-actions flex flex--not-even flex--align-center">
                        <span routerLink="/admin-panel/edit-lecture/{{lecture.id}}" class="edit-lecture flex flex--not-even flex--align-center">
                            <img src="assets/icons/edit.svg" alt="pencil" title="This lecture is public">
                            <span>Edit</span>
                        </span>
                        <span (click)="deleteLecture(lecture.id, i)" class="delete-lecture flex flex--not-even flex--align-center">
                            <img src="assets/icons/delete.svg" alt="trash-can" title="This lecture is private">
                            <span>Delete</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="no-lectures text--center" *ngIf="courseLectures.length < 1">
                <img src="/assets/icons/frown.svg" alt="frown">
                <p>No lectures created yet</p>
            </div>
        </div>
    </div>
</div>