@import '../../../styles.scss';

.edit-course {
    .color-picker {
        label {
            height: 54px;
            width: 54px;
            background-color: $black;
            margin-left: 1em;
            cursor: pointer;
        }

        img {
            height: 25px;
            width: 25px;
            margin: auto;
        }
    }

    .color-group-label {
        display: inline-block;
        margin-bottom: .5em;
    }

    .color-input-group {
        input {
            flex: 1;
        }

        input {
            margin: 0;
        }
    }

    .supported-language-group {
        flex: 1;
    }

    .filter-lectures {
        input,
        select {
            border: 0;
            background-color: $light_grey;
            color: $black;
            padding: .6em 1em;
        }
    }

    .filter-lectures * + * {
        margin-left: 1em;
    }

    .add-language-button {
        margin: auto;
        
        button {
            height: 54px;
            width: 54px;
            border: 0;
            background-color: $green;
            cursor: pointer;

            img {
                height: 25px;
                width: 25px;
            }
        }
    }

    .supported-languages-list {
        .supported-language {
            background-color: $green;
            padding: .5em;
            
            span {
                color: white;
            }

            img {
                width: 15px;
                margin-left: .5em;
            }
        }
        
        .supported-language {
            margin-top: .5em;
            margin-right: 1em;
        }

        .supported-language:last-child {
            margin-right: 0;
        }
    }

    .course-lectures-list {
        .course-lecture {
            background-color: $lighter_grey;
            padding: 1em;

            .lecture-title {
                flex: 1;

                img {
                    width: 25px;
                    margin-right: .75em;
                    transition: transform .4s ease;
                }

                span {
                    color: $blue;
                    @extend .sans-serif;
                    font-weight: bold;
                }

                .private-lecture-title {
                    color: $dark_purple;
                }
            }


            .lecture-actions {
                span {
                    cursor: pointer;
                    
                    img {
                        margin-right: .2em;
                    }
                }

                .edit-lecture {
                    color: $green;

                    img {
                        width: 15px;
                    }
                }

                .delete-lecture {
                    cursor: pointer;

                    img {
                        width: 12px;
                    }
                }

                & span + span {
                    margin-left: 1em;
                }
            }
        }

        .course-lecture + .course-lecture {
            margin-top: 1em;
        }

    }

    .course-delete-reminder {
        margin-top: .25em;
    }

    .no-lectures {
        color: $black;

        img {
            margin: 0 auto;
            display: block;
            width: 50px;
        }
    }
}

@media (max-width: 768px) {
    .edit-course {
        .color-picker {
            label {
                height: 46px;
                width: 46px;
            }

            img {
                height: 18px;
                width: 18px;
            }
        }

        .add-language-button {
            margin-left: 1em;

            button {
                height: 46px;
                width: 46px;
    
                img {
                    height: 20px;
                    width: 20px; 
                }
            }
        }

        .supported-language-group input {
            margin: 0.5em 0 1.5em 0;
        }
        
        .color-input-group {
            margin-bottom: 1.25em !important;
        }

        .filter-lectures select {
            display: none;
        }
    }
}