<div class="container">
    <div class="new-lecture">
        <form class="form" [formGroup]="createLectureForm" #ngForm="ngForm" action="signup" method="POST"
        (ngSubmit)="onSubmit(createLectureForm.value)">
            <h2>Create Lecture For: {{ course.title }}</h2>

            <div class="section section--large">
                <div class="form-group">
                    <div class="flex flex--align-center flex--not-even flex--between">
                        <label for="title" class="required">Title</label>
                        <span>Slug: {{ title.value | titleToSlug }}</span>
                    </div>
                    <div class="input-group"
                        [ngClass]="{ 'is-invalid' : (title.invalid && title.touched) || (title.invalid && ngForm.submitted) }">
                        <input type="text" id="title" formControlName="title"
                            placeholder="Course title">
                        <div class="input-help flex flex--not-even flex--align-center">
                            <div class="input-help-status"></div>
                            <div class="input-help-message">
                                <span>Title is required!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="difficulty" class="required">Difficulty</label>
                    <div class="input-group"
                        [ngClass]="{ 'is-invalid' : (difficulty.invalid && difficulty.touched) || (difficulty.invalid && ngForm.submitted) }">
                        <select formControlName="difficulty" id="difficulty">
                            <option value="">Select difficulty</option>
                            <option value="beginner">Beginner</option>
                            <option value="advanced">Advanced</option>
                        </select>
                        <div class="input-help flex flex--not-even flex--align-center">
                            <div class="input-help-status"></div>
                            <div class="input-help-message">
                                <span>User must have a difficulty!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <div class="input-group"
                        [ngClass]="{ 'is-invalid' : (description.invalid && description.touched) || (description.invalid && ngForm.submitted) }">
                        <textarea formControlName="description" id="description" cols="30" rows="5"
                            placeholder="Enter Description"></textarea>
                        <div class="input-help flex flex--not-even flex--align-center">
                            <div class="input-help-status"></div>
                            <div class="input-help-message">
                                <span>Description must be contain less than 200 characters!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="skippable" formControlName="skippable">
                    <label for="skippable">Make lecture skippable</label>
                </div>
            </div>
            <button type="submit" class="button button--large button--create margin-top">Create Lecture</button>
        </form>
    </div>
</div>