<div class="container">
    <div class="signup">
      <form class="form form--max-width" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <h1>Log In</h1>
        <div class="form__group">
          <label for="email">Email address</label>
          <input type="email" [class.is-invalid]="email.invalid && email.touched && submitted" id="email" formControlName="email"
            placeholder="Enter email">
          <div class="form__help text--small" *ngIf="email.invalid && email.touched && submitted">
            <div *ngIf="email.errors?.required">Email is required.</div>
            <div *ngIf="email.errors?.notValidEmail">Email is not valid.</div>
            <div *ngIf="email.errors?.emailNotInUse">No user is signed up with this email address.</div>
          </div>
        </div>
        <div class="form__group">
          <label for="password">Password</label>
          <input type="password" [class.is-invalid]="password.invalid && password.touched && submitted" id="password"
            formControlName="password" placeholder="Password">
          <div class="form__help text--small" *ngIf="password.invalid && password.touched && submitted">
            <div *ngIf="password.errors?.required">Password is required.</div>
            <div *ngIf="password.errors?.wrongPassword">Password is wrong.</div>
          </div>
        </div>
        <button type="submit" class="button button--large" [disabled]="this.loginForm.invalid && submitted">Login</button>
      </form>
    </div>
  </div>