@import '../../styles';

.course {
    .course-main-info {
        padding-right: 1em;

        .course-info {
            color: $red;
            @extend .sans-serif;
            font-weight: bold;

            span + span {
                position: relative;
                margin-left: 1.5em;
                
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 6px;
                    background-color: $red;
                    left: -16px;
                    top: 50%;
                    transform: translateY(-30%);
                }
            }
        }

        .course-supported-languages {
            color: $red;
        }
    }

    .course-payment-info {
        padding-left: 1em;

        .thumbnail {
            position: relative;

            .thumbnail-info {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: .5em 1em;
                background-color: $green;
                color: white;

                .price {
                    @extend .h2;
                    margin-bottom: 0;
                }
            }
        }
    }

    .course-lectures-list {
        .course-lecture {
            background-color: $lighter_grey;
            padding: 1em;

            .lecture-title {
                flex: 1;

                img {
                    cursor: pointer;
                    width: 18px;
                    margin-right: .75em;
                    transition: transform .4s ease;
                }

                .rotate-arrow {
                    transform: rotateZ(180deg);
                }

                span {
                    color: $dark_purple;
                    @extend .sans-serif;
                    font-weight: bold;
                }
            }


            .course-lecture-more-info {
                margin-top: 1em;
                padding-top: .5em;
                border-top: 1px solid $light_grey;

                p {
                    margin: 0;
                }
            }
        }

        .course-lecture + .course-lecture {
            margin-top: 1em;
        }
    }
}