<div class="container">
    <div class="user-settings">
        <h2>Account Information</h2>
        <div class="section section--large">
            <form class="form" [formGroup]="accountInfoForm" #ngForm="ngForm" action="signup" method="POST"
                (ngSubmit)="onSubmitAccountInfo()">
                <div class="flex flex--not-even">
                    <div class="image-upload flex flex--column flex--align-center">
                        <img [src]="user.image" [alt]="user.username">
                        <label for="file-upload" class="flex flex--not-even flex--align-center">
                            <img src="assets/icons/file-upload.svg" alt="file-upload">
                            <span>Upload profile image</span>
                            <input type="file" id="file-upload" accept=".png,.jpg,.jpeg,.gif" hidden (change)="uploadFile($event)">
                        </label>
                    </div>
                    <div class="fullname">
                        <div class="form-group">
                            <label for="firstName" class="required">First Name</label>
                            <div class="input-group"
                                [ngClass]="{ 'is-invalid' : (firstName.invalid && firstName.touched) || (firstName.invalid && ngForm.submitted) }">
                                <input type="text" id="firstName" formControlName="firstName"
                                    placeholder="What's your first name">
                                <div class="input-help flex flex--not-even flex--align-center">
                                    <div class="input-help-status"></div>
                                    <div class="input-help-message">
                                        <span *ngIf="firstName.errors?.required">First name is required!</span>
                                        <span *ngIf="firstName.errors?.nameNotValid && !firstName.errors?.required">First name can only have alphabetical characters!</span>
                                        <span *ngIf="firstName.errors?.minlength && !firstName.errors?.nameNotValid">First name must be atleast {{ firstName.errors?.minlength.requiredLength }} characters long!</span>
                                        <span *ngIf="firstName.errors?.maxlength && !firstName.errors?.nameNotValid">First name must be less than {{ firstName.errors?.maxlength.requiredLength }} characters long!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="required">Last Name</label>
                            <div class="input-group"
                                [ngClass]="{ 'is-invalid' : (lastName.invalid && lastName.touched) || (lastName.invalid && ngForm.submitted) }">
                                <input type="text" id="lastName" formControlName="lastName"
                                    placeholder="What's your last name">
                                <div class="input-help flex flex--not-even flex--align-center">
                                    <div class="input-help-status"></div>
                                    <div class="input-help-message">
                                        <span *ngIf="lastName.errors?.required">Last name is required!</span>
                                        <span *ngIf="lastName.errors?.nameNotValid && !lastName.errors?.required">Last name can only have alphabetical characters!</span>
                                        <span *ngIf="lastName.errors?.minlength && !lastName.errors?.nameNotValid">Last name must be atleast {{ lastName.errors?.minlength.requiredLength }} characters long!</span>
                                        <span *ngIf="lastName.errors?.maxlength && !lastName.errors?.nameNotValid">Last name must be less than {{ lastName.errors?.maxlength.requiredLength }} characters long!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex margin-top">
                    <div class="form-group">
                        <label for="username" class="required">Username</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (username.invalid && username.touched) || (username.invalid && ngForm.submitted) }">
                            <input class="username-input" type="text" id="username" formControlName="username"
                                placeholder="What you want to be know as on Programer21">
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span *ngIf="username.errors?.required">Username is required!</span>
                                    <span *ngIf="username.errors?.minlength">Username must be atleast {{ username.errors?.minlength.requiredLength }} characters long!</span>
                                    <span *ngIf="username.errors?.maxlength">Username must be less than {{ username.errors?.maxlength.requiredLength }} characters long!</span>
                                    <span *ngIf="username.errors?.minlength">Username must be atleast {{ username.errors?.minlength.requiredLength }} characters long!</span>
                                    <span *ngIf="username.errors?.cantChangeUsername">You need to wait {{nextUsernameChangeAvailableIn}} more {{nextUsernameChangeAvailableIn === 1 ? 'day' : 'days'}} to update username!</span>
                                </div>
                            </div>
                        </div>
                        <p class="can-change-username text--right">Can change again in: {{ canChangeUsernameIn() }}</p>
                    </div>
                    <div class="form-group">
                        <label for="email" class="required">Email</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (email.invalid && email.touched) || (email.invalid && ngForm.submitted) }">
                            <input class="email-input" type="email" id="email" formControlName="email"
                                placeholder="Your email address">
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span *ngIf="email.errors?.required">Email is required!</span>
                                    <span *ngIf="email.errors?.notValidEmail && !email.errors?.required">Email is invalid!</span>
                                    <span *ngIf="email.errors?.emailTaken && !email.errors?.required">An account with that email has been registered!</span>
                                </div>
                            </div>
                        </div>
                        <p class="email-verified flex flex--not-even flex--align-center flex--end">
                            <img *ngIf="user.verified" src="assets/icons/verified-user.svg" alt="verified-user">
                            <span *ngIf="user.verified">Email verified</span>
                            <span class="not-verified" *ngIf="!user.verified">Email not verified</span>
                        </p>
                    </div>
                </div>
                <button type="submit" class="button button--large button--update margin-top--small" [disabled]="accountInfoForm.invalid">Update Account</button>
            </form>
        </div>

        <h2 class="margin-top">Additional Information</h2>
        <div class="section section--large">
            <form class="form" [formGroup]="additionalInfoForm" #ngForm="ngForm" action="signup" method="POST"
                (ngSubmit)="onSubmitAdditionalInfo(additionalInfoForm.value)">
                <div class="form-group">
                    <label for="description">User Description</label>
                    <div class="input-group"
                        [ngClass]="{ 'is-invalid' : (description.invalid && description.touched) || (description.invalid && ngForm.submitted) }">
                        <textarea name="description" id="description" cols="30" rows="5"
                            placeholder="User Description"></textarea>
                        <div class="input-help flex flex--not-even flex--align-center">
                            <div class="input-help-status"></div>
                            <div class="input-help-message">
                                <span>Description must be contain less than 200 characters!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="form-group">
                        <label for="city">City</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (city.invalid && city.touched) || (city.invalid && ngForm.submitted) }">
                            <input type="text" id="city" formControlName="city" placeholder="Enter city">
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span>Description must be contain less than 50 characters!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (gender.invalid && gender.touched) || (gender.invalid && ngForm.submitted) }">
                            <select formControlName="gender" id="gender">
                                <option value="">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span>Gender can only be Male, Female and Other!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button button--large button--update margin-top--small" [disabled]="additionalInfoForm.invalid">Update Account</button>
            </form>
        </div>

        <h2 class="margin-top">Change Password</h2>
        <div class="section section--large">
            <form class="form" [formGroup]="changePasswordForm" #ngForm="ngForm" action="signup" method="POST"
                (ngSubmit)="onSubmitChangePassword(changePasswordForm.value)">
                <div class="form-group">
                    <label for="description">New Password</label>
                    <div class="input-group"
                        [ngClass]="{ 'is-invalid' : (newPassword.invalid && newPassword.touched) || (newPassword.invalid && ngForm.submitted) }">
                        <input type="text" id="newPassword" formControlName="newPassword"
                            placeholder="Enter new password" autocomplete="new-password">
                        <div class="input-help flex flex--not-even flex--align-center">
                            <div class="input-help-status"></div>
                            <div class="input-help-message">
                                <span *ngIf="password.errors?.required">Password is required!</span>
                                <span *ngIf="password.errors?.minlength">Password must be atleast {{ password.errors?.minlength.requiredLength }} characters long!</span>
                                <span *ngIf="password.errors?.notValidPassword && !password.errors?.required && !password.errors?.minlength">Password must have a capital letter, a number and a special character!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="form-group">
                        <label for="password">Old Password</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (password.invalid && password.touched) || (password.invalid && ngForm.submitted) }">
                            <input type="password" id="password" formControlName="password"
                                placeholder="Your old password" autocomplete="new-password">
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span>Password is required!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Old Password</label>
                        <div class="input-group"
                            [ngClass]="{ 'is-invalid' : (confirmPassword.invalid && confirmPassword.touched) || (confirmPassword.invalid && ngForm.submitted) }">
                            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                                placeholder="Confirm old password">
                            <div class="input-help flex flex--not-even flex--align-center">
                                <div class="input-help-status"></div>
                                <div class="input-help-message">
                                    <span *ngIf="confirmPassword.errors?.required">Password is required!</span>
                                    <span *ngIf="ngForm.errors?.passwordsNotMatching">Passwords don't match!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button button--large button--update margin-top--small" [disabled]="ngForm.submitted && changePasswordForm.invalid">Change Password</button>
            </form>
        </div>
    </div>
</div>