@import '../../styles.scss';

.user-settings {
    .image-upload {
        flex: 1;
        padding-right: 1em;

        
        label {
            cursor: pointer;
            color: $dark_purple;
            
            img {
                width: 13px;
                margin-right: .35em;
            }

            .profile-image {
                width: 150px;
                height: 150px;
                border-radius: 200px;
            }

            .profile-image:hover ~ .edit-hover-image {
                display: block;
            }
        }
        
        .profile-image-label {
            position: relative;

            .edit-hover-image {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                opacity: .5;
            }

            .edit-hover-image:hover {
                display: block;
            }
        }
    }

    .fullname {
        padding-left: 1em;
        flex: 2;
    }

    .email-verified {
        color: $green;
        margin-top: .25em;

        img {
            width: 13px;
            margin-right: .35em;
        }
    }

    .can-change-username {
        margin-top: .25em;
    }

    .username-input,
    .email-input {
        margin-bottom: 0 !important;
    }

    .not-verified {
        color: $red;
    }
}